body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #EEE2DC;
}

.description {
  white-space: pre-wrap;
}

/* section css area */

section {
  overflow: hidden;
  padding: 60px;
}

/* Navbar css area */

nav {
  background-color: #EDC7B7;
}

.navbarName {
  font-size: xx-large;
}

.navbarSections{
  flex-flow: row-reverse;
}

/* About me css area  */

.aboutMeHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #AC3B61;
}

.aboutMeBody {
  font-size: 20px;
  font-weight: 300;
}