body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #EEE2DC;
}

.description {
  white-space: pre-wrap;
}

/* section css area */

section {
  overflow: hidden;
  padding: 60px;
}

/* Navbar css area */

nav {
  background-color: #EDC7B7;
}

.navbarName {
  font-size: xx-large;
}

.navbarSections{
  flex-flow: row-reverse;
}

/* About me css area  */

.aboutMeHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #AC3B61;
}

.aboutMeBody {
  font-size: 20px;
  font-weight: 300;
}

.aboutMePoints {
  margin-bottom: inherit;
}


/* Resume css area */

.resume {
  border: groove;
  background-color: #BAB2B5;
  color: white;
  font-size: larger;
}

.resumeDownloadButton {
  color: white;
  border: solid 3px;
}


/* featured projects css area */

.featuredProjectsHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #AC3B61;
}


.featuredProjectsImg {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.featuredProjectsLinks {
  border: black solid 4px;
  color: black;
  background-color: #EDC7B7;
  font-size: large;
  margin: 6px;
}

/* contact me css area */

.contactMeHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #AC3B61;
}

.contactMeBlocks {
  border: black solid 2px;
  background-color: #EDC7B7;
  font-size: large;

}

.contactMeBlocksInterior {
  color: black;

}