body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #E6E6EF;
}

.description {
  white-space: pre-wrap;
}

/* section css area */

section {
  overflow: hidden;
  padding: 60px;
}

/* Navbar css area */

nav {
  background-color: #CFCFDE;
  border-bottom: 5px solid white;
  
}

.navbarName {
  color: #251E13  !important;
  font-size: xx-large;
  margin-right: 40px;
  
}

.navbarSections {
  flex-flow: row-reverse;
}

.navItemCustomization {
  color: #251E13 !important;
}

/* About me css area  */

.aboutMeHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #251E13;
}

.aboutMeBody {
  font-size: 20px;
  font-weight: 300;
  color: #251E13;
}

.aboutMePoints {
  margin-bottom: inherit;
  color: #251E13;

}

/* Resume css area */

.resume {
  border: groove;
  background-color: #CFCFDE;
  color: #251E13;
  font-size: larger;
}

.resumeDownloadButton {
  color: #251E13;
  border: solid 3px;
}

/* featured projects css area */

.projectSpacing {
  margin-right: 2rem;
  margin-bottom: 1rem;
  color: black;
  background-color: #CFCFDE;
}

.featuredProjectsHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #251E13;
}

.projectButton {
  background-color: #424261;
  border-color: #424261
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #636392;
  border-color: #636392; 
}

/* contact me css area */

.contactMeHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #251E13;
}

.contactMeBlocks {
  border: black solid 2px;
  background-color: #CFCFDE;
  font-size: large;
}

.contactMeBlocksInterior {
  color: black;
}
